<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Orders</title>
	<link rel="stylesheet" type="css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- <div th:replace="fragments/header :: header-css"/> -->
</head>
<body>

<h2>List of Orders</h2>
<!-- <div th:replace="fragments/header :: header"/> -->

<div class="container">

<a th:href="@{/order/1?sortField=creationTime&sortDir=desc}" class="btn btn-info">List of Orders</a>

</div>
<!-- /.container -->

<!-- <div th:replace="fragments/footer :: footer"/> -->

</body>
</html>