<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Tracker</title>
</head>
<h2>Tracker</h2>

<body>

<form action="#" th:action="@{/tracker}" th:object="${trackerId}" method="get">
	<div class="form-group">
	    <label for="search_input">Search:</label> <input name="trackerId"
                                                     id="trackerId">
    </input>
	</div>
	
	<div class="row">
	     <div class="col-xs-6 col-sm-6 col-md-6">
	         <input type="submit" class="btn btn-lg btn-primary btn-block" value="Search"/>
	     </div>
	     <div class="col-xs-6 col-sm-6 col-md-6">
	     </div>
	</div>
</form>
<div th:if="${order != null}">
 <table border="1">

	    <tr>
	        <th>
	        	Order Name
	        </th>
	        <th>
	        	Status
	        </th>
	        <th>
	        	Destination Address	
	        </th>
	        <th>
	        	Recipient Contact
	        </th>
	        <th>
	        	Tracker Id
	        </th>
	    </tr>
	
	    <tr>
	        <td th:text="${order.orderName}">orderName</td>
	        <td th:text="${order.orderStatus}">orderStatus</td>
	        <td th:text="${order.destinationAdd}">destinationAdd</td>
	        <td th:text="${order.recipientContact}">recipientContact</td>
	        <td th:text="${order.trackerId}">recipientContact</td>
	    </tr>
	</table>
</div>
	<span th:if="${order == null}">No Orders were found for this Id.</span>
<br>

</body>
</html>